<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop | Local Brand Shop</title>
</head>
<body>




<h1 class="mb-4">Shop Dresses</h1>

<div class="row">

    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ dress.image.url }}" class="card-img-top" alt="{{ dress.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ dress.name }}</h5>
                <p class="card-text">{{ dress.brand }}</p>
                <p class="card-text">${{ dress.price }}</p>
                {% if dress.id %}
                <a href="{% url 'add_to_cart' dress.id %}" class="btn btn-primary">Add to Cart</a>
                {% endif %}
            </div>
        </div>
    </div>

</div>


</body>
</html>